// Variables
$primary-color:#aaa;
$secondary-color:#eece1a;
$show-home-image:true;
$home-image:url(../imgs/background.jpg);
$background-opacity:0.5;

// Imports
@import 'config';
@import 'menu';


*{
  box-sizing: border-box;
}

// body
body{
  @include background;
  background-color: $primary-color;
  color:set-text-color($primary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

// Headings
h1,
h2,
h3{
  margin: 0;
  font-weight: 400;

  &.lg-heading{
    font-size: 6rem;
  }

  &.sm-heading{
    margin:0 auto;
    margin-bottom: 2rem;
    padding: 0.2rem 0.2rem;
    width: 80%;
    background: rgba(lighten($primary-color, 5),0.7);
  }
}

a{
  color:#fff;
  text-decoration: none;
}

header{
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary{
  color: $secondary-color;
}
main {
  padding:4rem;
  min-height: calc(100vh - 60px);
  text-align: center;
  
  .icons{
    margin-top: 1rem;

    a {
      padding: 0.4rem;

      &:hover{
        color:$secondary-color;
        @include easeOut();
      }//hover
    }//a tag
  }// icons class

  &#home{
    overflow: hidden;
    h1{
      margin-top: 20vh;;
    }//h1 tag
  }//home id
}// main tag



// About SCSS
.about-info{
  text-align: left;
  display: grid;
  grid-template-areas: 
    'bioimage bio bio'
    'job1 job2 job3';
    grid-template-columns: 1fr 1fr 1fr;
}//about-info class

.bio-image{
  grid-area: bioimage;
  margin: auto;
  border-radius: 40%;
  border:$secondary-color solid 3px;
}
.bio{
  grid-area: bio;
  padding-left:15px;
  text-align: left; 
}
.job{
  padding: 10px;
  background: lighten($primary-color,5);
  border-bottom: $secondary-color 5px solid;
  margin: 5px;
}

.job-1{
  grid-area: job1;
}
.job-2{
  grid-area: job2;
}
.job-3{
  grid-area: job3;
}


// Work SCSS
.projects{
  display:grid;
  grid-gap: 0.7rem;
  grid-template-columns: 1fr 1fr 1fr;

  img{
    width:100%;
    border:3px #fff solid;

    &:hover{
      opacity: 0.5;
      border-color: $secondary-color;
      transform: scale(1.1);
      @include easeOut;
    }//&:hover
  }//img
}
// Button Styles
.btn{
  display: block;
  padding:0.5rem 1rem;
  border:0;
  margin-bottom: 0.3rem;
  &:hover{
    background: $secondary-color;
    color:set-text-color($secondary-color);
  }//&:hover
}//.btn

.btn-dark{
  @extend .btn;
  background: darken($primary-color,50);
  color:#fff;
}

.btn-light{
  @extend .btn;
  background: lighten($primary-color, 50);
  color:#333;
}



// Footer

#main-footer{
  text-align: center;
  padding: 25px;
  background-color: #000;
  color:white;
  max-height: 60px;
}


@import 'mobile';